<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="container">
<table>
    <thead>
    <h1>Patients Informations</h1>
    </thead>
    <tbody>
    <tr>
        <th>Id</th>
        <td th:text="${patients.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${patients.name}"></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td th:text="${patients.lastName}"></td>
    </tr>
    <tr>
        <th>Birthdate</th>
        <td th:text="${patients.birthDate}"> </td>
    </tr>
    <tr>
        <th>Gender</th>
        <td th:text="${patients.sex}"></td>
    </tr>
    <tr>
        <th>Address</th>
        <td th:text="${patients.address}"></td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td th:text="${patients.phone}"></td>
    </tr>
    </tbody>
</table>
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-warning" th:href="@{/patients/update/{id}(id=${patients.id})}" >Edit</a>
                <a class="btn btn-danger" th:href="@{/patients/delete/{id}(id=${patients.id})}">Delete</a>
                <a class="btn btn-info" href="/">List</a>
                <a class="btn btn-success" th:href="@{/patients/info/rapport/{patientId}(patientId=${patients.id})}">Report</a>
            </div>

        </div>
    </div>


    <div th:fragment="noteForm" class="container">
        <h3>Rajouter un commentaire</h3>
        <form id="notesForm" method="post" th:action="@{/notes/{patientId}(patientId=${patients.id})}">
            <div class="form-group">
                <label for="message">Message :</label>
                <textarea class="form-control" id="message" name="message" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>

    <h4>Notes Médicales</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Note</th>
            <th>Date/Heure de création</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.note}"></td>
            <td th:text="${note.dateTimeAtCreation}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/notes/update/{id}(id=${note.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/notes/delete/{id}(id=${note.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>